[submodule "cookbooks/wireshark"]
	path = cookbooks/wireshark
	url = git://github.com/thalweg/chef-wireshark.git
[submodule "cookbooks/vagrant"]
	path = cookbooks/vagrant
	url = git://github.com/thalweg/chef-vagrant.git
[submodule "cookbooks/sickbeard"]
	path = cookbooks/sickbeard
	url = git://github.com/thalweg/chef-sickbeard.git
